.idea/
.settings/
.vscode/
/lib/
/target/

.classpath
.DS_Store
.jenkins
.project
*.bak
*.bk
*.core
*.exe
*.hprof
*.iml
*.ipr
*.iws
*.log
*.mdmp
*.o
*.rar
*.tar.gz
*.temp
*.tmp
*.war
*.zip

cache.dat
dependency-reduced-pom.xml
local.properties
Thumbs.db
